.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
  }

  .task-card {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .task-name {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .task-description {
    margin-bottom: 10px;
  }

  .due-date {
    font-style: italic;
  }

  .status {
    margin-top: 10px;
  }